.scrollfade {
  flex-grow: 1;
  --gradient-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
  position: relative;
}

.scrollfade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top, transparent, var(--gradient-color) 20px);
  pointer-events: none;
  z-index: 1;
}

.scrollfade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--gradient-color) 20px
  );
  pointer-events: none;
  z-index: 1;
}
