# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# turbo
.turbo

# logs
logs
*.log

# editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build artifacts
lib
dist
build

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# typedocs
docs
tmp

# next.js
.next
out
next-env.d.ts

# vercel
.vercel

# typescript
*.tsbuildinfo

# remix
.cache

# Benchmark results
sdks/js-sdk/bench/results

# local database files
**/*.db3*

