.container {
  flex-shrink: 0;
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding-bottom: var(--mantine-spacing-sm);
}

.root {
  cursor: pointer;
}

.root:hover {
  background-color: var(--mantine-color-default-hover);
}

.root:focus {
  border-color: var(--mantine-primary-color-filled);
}
