services:
  waku-node:
    image: xmtp/node-go:latest
    environment:
      - GOWAKU-NODEKEY=8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
    command:
      - --ws
      - --store
      - --message-db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --lightpush
      - --filter
      - --ws-port=9001
      - --wait-for-db=30s
      - --api.authn.enable
    ports:
      - 9001:9001
      - 5555:5555
    depends_on:
      - db
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
