@media (max-width: 48em) {
  .main {
    --app-shell-footer-offset: 0px !important;
  }

  .navbar {
    --app-shell-footer-offset: 0px !important;
  }

  .footer {
    --app-shell-footer-height: 0px;
  }
}
