body.main-flex-layout main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}

#root > canvas {
  z-index: 9999 !important;
}
