.root {
  cursor: text;
  background-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-8)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.root > *:first-child {
  margin-block-start: 0 !important;
}

.root > *:last-child {
  margin-block-end: 0 !important;
}

.root blockquote > p {
  margin-block: 0 !important;
}
