name: xmtp.chat API service

on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - "apps/xmtp.chat-api-service/**"
      - ".github/workflows/api-service.yml"
      - "dev/**"
      - ".node-version"
      - ".yarnrc.yml"
      - "turbo.json"

jobs:
  typecheck:
    name: Typecheck
    permissions:
      contents: read
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Typecheck
        run: yarn turbo run typecheck --filter='./apps/xmtp.chat-api-service'

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: echo "Nothing to test"

  build:
    name: Build
    permissions:
      contents: read
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn turbo run build --filter='./apps/xmtp.chat-api-service'
