name: Content types

permissions:
  contents: write

on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - "content-types/**"
      - "sdks/node-sdk/src/**"
      - ".github/workflows/content-types.yml"
      - "dev/**"
      - ".node-version"
      - ".yarnrc.yml"
      - "turbo.json"

jobs:
  typecheck:
    name: Typecheck
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Typecheck
        run: yarn turbo run typecheck --filter='./content-types/*'

  test:
    name: Test
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Start dev environment
        run: ./dev/up
      - name: Sleep for 5 seconds
        run: sleep 5s
      - name: Run tests
        run: yarn turbo run test --filter='./content-types/*'

  build:
    name: Build
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn turbo run build --filter='./content-types/*'
