name: Release

on:
  push:
    branches:
      - main
      - releases/**

  workflow_dispatch:
    inputs:
      disable_audit:
        type: boolean
        description: "Disable audit in the release"
        default: false

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Update npm to latest
        run: npm install -g npm@latest
      - name: Install dependencies
        run: yarn
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        if: ${{ github.event_name != 'workflow_dispatch' || (github.event_name == 'workflow_dispatch' && !inputs.disable_audit) }}
        run: npm audit signatures
      - name: Publish
        uses: changesets/action@v1
        with:
          title: "release: version packages"
          commit: "release: version packages"
          publish: yarn publish
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GH_TOKEN }}
