name: Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  node:
    name: node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
        env:
          SKIP_YARN_COREPACK_CHECK: '1'
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - run: ./dev/up
      - run: yarn test:node
        env:
          NODE_OPTIONS: '-r dd-trace/ci/init'
          DD_ENV: ci:node
          DD_SERVICE: xmtp-js
          DD_CIVISIBILITY_AGENTLESS_ENABLED: 'true'
          DD_API_KEY: ${{ secrets.DD_API_KEY }}

  browser:
    name: happy-dom
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
        env:
          SKIP_YARN_COREPACK_CHECK: '1'
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - run: ./dev/up
      - run: yarn test:browser
