name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: xmtp-js
    runs-on: ubuntu-latest
    services:
      waku-node:
        image: snormore/go-waku:latest
        env:
          GOWAKU-NODEKEY: 8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
        ports:
          - 9001:9001
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - run: npm install
      - run: npm test
