name: Create Sentry release and upload sourcemaps

on:
  push:
    branches:
      - main
    paths:
      - "apps/xmtp.chat/src/**"
      - "apps/xmtp.chat/vite.config.ts"
      - "apps/xmtp.chat/package.json"
      - ".github/workflows/xmtp-chat-sentry.yml"

jobs:
  sentry:
    permissions:
      contents: read
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "yarn"
        env:
          SKIP_YARN_COREPACK_CHECK: "1"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          sourcemaps: ./apps/xmtp.chat/dist
